.body {
	display: grid;
	background-color: #F7F2F3;
	font-family: helvetica;
}

h1 {
	color: #2A7473;
}

h2 {
	background-color: #729fcf;
	color: #F7F2F3;
	text-align: center;
	margin: 0;
	padding: 0.2rem;
	font-size: 1rem;
}

.projectList {
	list-style: none;
	margin: 0em;
	display: grid;
	grid-gap: 0.6rem 1.9rem;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.projectList li {
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.version {
	text-align: center;
	padding: 0.4rem;
}
.noVersion h2 {
	background-color: #888a85;
}

.updatedToday h2{
	background-color: #8ae234;
}

.updatedYesterday h2{
	background-color: #4e9a06;
}

.commitDate {
	font-size: 0.7rem;
}


