:root { 
	--main-background-color: #18181a; 
	--h1-color: #878788; 
	--box-title-text-color: #222225; 
	--box-title-color: #74bdfd; 
	--box-background-color: #39393c; 
	--box-title-no-version-color: #878788; 
	--box-title-updated-today-color: #239a3b; 
	--box-title-updated-yesterday-color: #7bc96f;
	/* 	--box-title-updated-before-yesterday-color: #7bc96f; */ 
	--box-title-updated-seven-days-ago-color: #c6e48b; 
	--text-version-color: white;
}

.body {
	display: grid;
	background-color: var(--main-background-color);
	font-family: helvetica;
}

h1 {
	color: var(--h1-color);
}

h2 {
	background-color: var(--box-title-color);
	color: var(- -box-title-text-color);
	text-align: center;
	margin: 0;
	padding: 0.2rem;
	font-size: 1rem;
	border-radius: 10px 10px 0 0;
	letter-spacing: 2px;
}

.projectList {
	list-style: none;
	margin: 0em;
	display: grid;
	grid-gap: 0.6rem 1.9rem;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	padding-left: 0px;
}

.projectList li {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--box-background-color);
}

.version {
	text-align: center;
	padding-top: 0.5rem;
	color: var(--text-version-color);
}

.noVersion h2 {
	background-color: var(--box-title-no-version-color);
}

.updatedToday h2 {
	background-color: var(--box-title-updated-today-color);
}

.updatedYesterday h2 {
	background-color: var(--box-title-updated-yesterday-color);
}

.updatedbeforeYesterday h2 {
	background-color: var(--box-title-updated-before-yesterday-color);
}

.updatedSevenDaysAgo h2 {
	background-color: var(--box-title-updated-seven-days-ago-color);
}

.commitDate {
	font-size: 0.7rem;
	position: absolute;
	color: var(--text-version-color);
	top: 33px;
	left: 9px;
}