.body {
	display: grid;
}

h2 {
	background-color: #33ac46;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0.2rem;
	font-size: 1rem;
}

.projectList {
	list-style: none;
	margin: 0em;
	display: grid;
	grid-gap: 0.6rem 1.9rem;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.projectList li {
	border: 1px solid #33ac46;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.version {
	text-align: center;
	padding: 0.4rem;
}
.noVersion h2 {
	background-color: red;
}
